.no-border {
    border-color: transparent !important;
}

.web-background {
    background-color: #e9ecef;
    position: relative;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-container {
    margin: 1% 0;
}

.flex-container {
    display: flex;
}

.fill-width {
    flex: 1;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.icon {
    padding: 0 5px;
}

.github-link {
    color: #000000;
}

.external-link {
    color: #a9a9a9;
}

.linkedin-link {
    color: #0077b5;
}