.no-border {
    border-color: transparent !important;
}

.web-background {
    background-color: #e9ecef;
    position: relative;
}

@media (min-width: 800px) {
    .main-container {
        padding: 1% 10%;
    }
}

@media (max-width: 799px) {
    .main-container {
        padding: 1% 0px;
    }
}

.card-container {
    margin: 1% 0%;
}

.flex-container {
    display: flex;
}

.fill-width {
    flex: 1;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.github-link {
    color: #000000;
}

.linkedin-link {
    color: #0077b5;
}