.no-border {
    border-color: transparent !important;
}

.web-background {
    background-color: #e9ecef;
}

@media (min-width: 800px) {
    .main-container {
        padding: 1% 10%;
    }
}

@media (max-width: 799px) {
    .main-container {
        padding: 1% 0px;
    }
}

.card-container {
    margin: 1% 0%;
}

.flex-container {
    display: flex;
}

.fill-width {
    flex: 1;
}